.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ececec;
  }

  &:hover .description {
    color: #569cba;
  }

  .image {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    object-fit: cover;
    user-select: none;
  }

  .description {
    color: #8e8e8e;
    margin-bottom: 8px;
    user-select: none;
    font: {
      size: 16px;
      weight: 500;
      family: 'PingFang SC', -apple-system, 'Segoe UI', 'Microsoft YaHei',
        sans-serif !important;
    }
    transition: color 0.3s;
  }
}
